<p>Dear {{ user.username }},</p>

<p>
	To reset your password,
	<!-- The _external=True argument allows us to generate a full qualified URL, within the context of our email, which would not have been possible if we don't specified this argument as such. -->
	<a href="{{ url_for('reset_pasword', token=token, _external=True) }}">Click Here</a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>If you have not reqested a password reset, simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Microblog Team</p>