[Desktop Entry]
Encoding=UTF-8
Name=Link to The Flask Mega-Tutorial Part XIV: Ajax - miguelgrinberg.com
Type=Link
URL=https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xiv-ajax
Icon=text-html
