[Desktop Entry]
Encoding=UTF-8
Name=Link to The Flask Mega-Tutorial Part VI: Profile Page and Avatars - miguelgrinberg.com
Type=Link
URL=https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-vi-profile-page-and-avatars
Icon=text-html
