[Desktop Entry]
Encoding=UTF-8
Name=Link to The Flask Mega-Tutorial Part XX: Some JavaScript Magic - miguelgrinberg.com
Type=Link
URL=https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xx-some-javascript-magic
Icon=text-html
