[Desktop Entry]
Encoding=UTF-8
Name=Link to The Flask Mega-Tutorial Part III: Web Forms - miguelgrinberg.com
Type=Link
URL=https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-iii-web-forms
Icon=text-html
