[Desktop Entry]
Encoding=UTF-8
Name=Link to The Flask Mega-Tutorial Part XIX: Deployment on Docker Containers - miguelgrinberg.com
Type=Link
URL=https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xix-deployment-on-docker-containers
Icon=text-html
