[Desktop Entry]
Encoding=UTF-8
Name=Link to The Flask Mega-Tutorial Part IV: Database - miguelgrinberg.com
Type=Link
URL=https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-iv-database
Icon=text-html
