[Desktop Entry]
Encoding=UTF-8
Name=Link to The Flask Mega-Tutorial Part XVII: Deployment on Linux - miguelgrinberg.com
Type=Link
URL=https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xvii-deployment-on-linux
Icon=text-html
