[Desktop Entry]
Encoding=UTF-8
Name=Link to The Flask Mega-Tutorial Part XV: A Better Application Structure - miguelgrinberg.com
Type=Link
URL=https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xv-a-better-application-structure
Icon=text-html
