{% extends "layout.html" %}
{% block content %}
<h2>About Me</h2>

<h3>Foreword</h3>
<p>Let me preface this by saying, I don't know much about making websites or web applications! Didn't come from a CS or CE background or from a school with a web design curriculum. If things were different, I might have went down that route but that is not this life.
</p>
<p>This is my dash app served with Flask, but it is also my 'website'-of-sorts. I write about some stuff on my <a href="http://sjhh-nguyen-d.github.io">blog</a> on which I try to be as active as I can but mostly, I get side tracked with other things in life as all people. It's mostly a data science blog though.
</p>
<p>
Donec dolor tortor, blandit ut nibh non, luctus vestibulum mi. Duis congue justo eget ipsum ornare laoreet. Ut non
tortor sed nulla cursus sagittis. Cras erat odio, pellentesque vitae accumsan sed, vulputate at nunc. Donec volutpat
ante vel lacinia aliquet. Sed gravida augue nec purus dapibus faucibus. Morbi auctor ipsum metus, id sollicitudin risus
consectetur in. Cras eget arcu varius, hendrerit neque ut, porta mauris. Ut sit amet magna in lacus fringilla semper.
Pellentesque dapibus, lorem in suscipit ultrices, nibh ligula imperdiet magna, ac congue tellus nibh eu nisi. Phasellus
nec pulvinar ex. Donec porta aliquet posuere. Duis vitae eleifend quam. Pellentesque condimentum magna justo, at
fermentum tortor finibus eu. Nullam volutpat, dui vel luctus pharetra, lorem tortor venenatis velit, a ultrices eros
nulla quis eros. Donec non pharetra felis, vitae laoreet lacus.
</p>
<p>
Duis ornare ex vitae nisi tincidunt, at maximus odio pretium. Suspendisse consequat commodo dui a tempor. Donec porta
tristique facilisis. Quisque non justo sit amet ante viverra molestie sit amet et dolor. Sed sed ipsum eget ante
porttitor dignissim. Aliquam sed lacus gravida, luctus enim nec, placerat diam. Mauris sed felis non eros viverra
sodales. Phasellus nibh felis, porttitor a mi eget, tempus consectetur nulla. Cras aliquam arcu vel blandit dapibus. Nam
iaculis mauris sed massa imperdiet, sit amet viverra metus convallis. Proin facilisis turpis eget nulla dictum eleifend.
</p>
<p>
Phasellus dapibus vel leo sed maximus. Integer maximus congue aliquet. Nunc venenatis, lacus vel auctor blandit, ex urna
fermentum nunc, eu semper nulla nisi ut turpis. Pellentesque sit amet ipsum nec lectus malesuada aliquet vitae eu
mauris. Mauris dignissim erat in consequat bibendum. Vivamus feugiat erat sapien, in tristique sem laoreet ac. Aliquam
lacinia elit non lectus mattis, a porttitor leo bibendum. Sed ac congue turpis.
</p>
<p>
Nullam condimentum nunc lacus, eget ullamcorper tortor porttitor a. Maecenas et erat posuere, pharetra urna non,
fermentum felis. Maecenas luctus ac est imperdiet fringilla. Aliquam erat volutpat. Vestibulum sodales gravida neque.
Cras sed ante nisl. Praesent euismod enim et dui posuere, sit amet faucibus dolor scelerisque. Mauris tellus quam,
pharetra a pharetra ut, posuere ac diam. Duis venenatis neque nec purus posuere tempus. Vivamus eget ex sed nisi mattis
suscipit. Integer elementum nisl magna, id pulvinar ligula blandit vitae. Aliquam volutpat hendrerit nunc ut congue.
Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
<p>
Phasellus maximus lacus eget erat aliquet pharetra. Integer ultrices eu quam eget pulvinar. Nunc imperdiet convallis
urna, sit amet dapibus quam scelerisque id. Integer malesuada ultrices dictum. Nam quis rutrum lorem. Etiam at vehicula
purus. Donec elementum velit ornare lectus aliquam vestibulum. Donec iaculis vestibulum mauris, et rutrum diam gravida
ac. Mauris nunc est, aliquet sit amet leo sit amet, consequat lacinia ex. Mauris facilisis mollis lorem, eu mollis risus
ullamcorper lacinia. Nam lectus lectus, lobortis ultricies pharetra vel, placerat aliquet enim. In suscipit nisi sed
quam venenatis, a dictum odio efficitur.
</p>
<p>
In viverra tortor et eros tempor ornare. Aliquam in scelerisque est. Donec maximus, metus vitae feugiat sodales, urna
erat gravida velit, nec porta leo lacus et nisi. Vivamus quis elit porta, molestie risus sed, suscipit urna. Curabitur
iaculis sem vitae mauris laoreet, non rhoncus velit euismod. Aliquam nec lacus non ipsum varius tempus quis ut felis.
Donec justo tellus, posuere sed mauris vel, volutpat laoreet eros.
</p>
<p>
Aenean lorem purus, venenatis ac euismod eu, luctus pellentesque nunc. Fusce dictum eros risus, in vulputate magna
consequat auctor. Sed sollicitudin porttitor maximus. Integer sed purus lorem. Proin lobortis metus eget odio faucibus,
aliquam tempus justo sollicitudin. Praesent tincidunt, lectus in feugiat dapibus, lorem sapien sollicitudin libero, in
porta dolor arcu vitae diam. Quisque ultrices est a augue finibus venenatis. Maecenas a nibh turpis. Integer rhoncus,
urna a elementum vulputate, ligula nulla efficitur diam, sed egestas ipsum magna sit amet turpis. Donec at metus augue.
Cras ac pulvinar mi. Pellentesque justo nisl, tristique nec posuere interdum, ornare vitae orci.
</p>
<p>
Cras pulvinar vitae eros vitae pharetra. Nam pulvinar ipsum non augue porta commodo. Vivamus euismod sem et facilisis
rhoncus. Etiam tortor felis, semper sed ante eget, cursus pretium ex. Suspendisse potenti. Nullam suscipit commodo erat
a ultricies. Praesent varius tincidunt luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
ridiculus mus. Ut vel magna scelerisque, rutrum elit vitae, sollicitudin erat. Cras sit amet dictum ante, a interdum
mauris. Donec id interdum felis. Aliquam faucibus tortor sem, non tempus risus ullamcorper quis. Maecenas tempus leo mi,
porta lacinia purus scelerisque in. Phasellus in mauris varius, blandit tellus et, gravida mi.
</p>
{% endblock %}