{% extends "layout.html" %}
{% block content %}
<img class='full-width-banner' src='/assets/welcome.png' alt='Welcome'>
<h3>Hey, You There!</h3>
<div>
    <p>Chances are you are reading this because you somehow stumbled upon through my <a href='https://linkedin.com/in/dennisnguyendo'>LinkedIn</a>, <a href='https://github.com/SJHH-Nguyen-D/'>GitHub</a>, Indeed or resume (or maybe through the dark web!). In anycase, my name is Dennis Nguyen-Do and this is the frontend to one of my data science projects. More about me at <a href='/about'>here</a>.</p>
</div>
{% endblock %}